In [1]:
import pandas as pd
pd.__version__

'0.20.3'

In [2]:
import scipy as sc

In [5]:
MyDF = pd.read_csv('../../../Documents/silbiocompmasterepo/Data/testcsv.csv', sep=',')
MyDF

,Species,Infraorder,Family,Distribution,Body mass male (Kg)
0,Daubentonia_madagascariensis,Chiromyiformes,Daubentoniidae,Madagascar,2.700
1,Allocebus_trichotis,Lemuriformes,Cheirogaleidae,Madagascar,0.100
2,Avahi_laniger,Lemuriformes,Indridae,America,1.030
3,Avahi_occidentalis,Lemuriformes,Indridae,Madagascar,0.814
4,Avahi_unicolor,Lemuriformes,Indridae,America,0.830
5,Cheirogaleus_adipicaudatus,Lemuriformes,Cheirogaleidae,Madagascar,0.200
6,Cheirogaleus_crossleyi,Lemuriformes,Cheirogaleidae,Madagascar,0.400
7,Cheirogaleus_major,Lemuriformes,Cheirogaleidae,Madagascar,0.450
8,Cheirogaleus_medius,Lemuriformes,Cheirogaleidae,Madagascar,0.217

In [6]:
MyDF = pd.DataFrame({
   'col1': ['Var1', 'Var2', 'Var3', 'Var4'],
   'col2': ['Grass', 'Rabbit', 'Fox', 'Wolf'],
   'col3': [1, 2, sc.nan, 4]
})

MyDF

   col1    col2  col3
0  Var1   Grass   1.0
1  Var2  Rabbit   2.0
2  Var3     Fox   NaN
3  Var4    Wolf   4.0

In [7]:
# Displays the top 5 rows. Accepts an optional int parameter - num. of rows to show
MyDF.head()

   col1    col2  col3
0  Var1   Grass   1.0
1  Var2  Rabbit   2.0
2  Var3     Fox   NaN
3  Var4    Wolf   4.0

In [8]:
MyDF.values

array([['Var1', 'Grass', 1.0],
       ['Var2', 'Rabbit', 2.0],
       ['Var3', 'Fox', nan],
       ['Var4', 'Wolf', 4.0]], dtype=object)

In [9]:
MyDF.describe()

           col3
count  3.000000
mean   2.333333
std    1.527525
min    1.000000
25%    1.500000
50%    2.000000
75%    3.000000
max    4.000000